*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

body, html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
}

#sidebar {
    padding: 10px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar > button {
    padding: 10px 30px;
    font-weight: bold;
}

#checklist-cont {
    max-height: 0;
    overflow: hidden;
}

#checklist-cont.open {
    max-height: none;
}