:root {
    --small-pad: 5px;
    --reg-pad: 10px;
    --large-pad: 20px;
    --window-top-margin: 10%;

    --acc: gold;

    --low: rgb(158, 246, 158);
    --med: #fffa70;
    --high: salmon;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* body */
body {
    font-family: system-ui;
}

/* reset button defaults */
button {
    border: none;
    appearance: none;
    padding: var(--reg-pad) var(--large-pad);
}

/* for dialogs */
dialog {
    border: none;
}

/* create popup */
.window {
    margin: auto;
    margin-top: var(--window-top-margin);
}

.create-panel {
    border: 1px solid grey;
    width: max-content;
    padding: var(--large-pad);
}

.create-panel > form {
    display: flex;
    flex-direction: column;
    gap: var(--large-pad);
}

.form-todo-priority-cont {
    width: max-content;
    display: flex;
    gap: var(--small-pad);
}

.priority-radio {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
}

.form-todo-priority-cont > input {
    height: 20px;
    width: 20px;
}

.priority-radio[value='low'] {
    background-color: var(--low);
}

.priority-radio[value='med'] {
    background-color: var(--med);
}

.priority-radio[value='high'] {
    background-color: var(--high);
}

.form-topic-fav-cont {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fav-toggle {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    border: 2px solid var(--acc);
    width: 15px;
    height: 15px;
}


/* popup button */
#show-create-popup {

}




